/* Estilização Geral */
body {
    background-color: #ffffff; /* Cor de fundo */
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin-left: 200px;
}

/* Menu Superior */
.navbar {
    background-color: #2b2e38;
    color: #f82a2a;
    padding-top: 8px; /* Aumenta o preenchimento superior */
    padding-bottom: 8px; /* Aumenta o preenchimento inferior */
    font-size: 1em; /* Aumenta o tamanho da fonte */
    font-family: 'Open Sans', sans-serif; /* Aplica a fonte Open Sans */
}

.navbar-brand {
    color: #ffffff;
    font-size: 2em; /* Aumenta o tamanho da fonte do "DashBot" */
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    font-size: 1.2em; /* Tamanho do ícone */
}
.navbar .navbar-toggler {
    color: #ffffff; /* Cor do texto e do ícone do menu no topo */
}

.navbar .navbar-toggler-icon {
    filter: brightness(0) invert(1); /* Ajusta a cor do ícone para branco */
}

/* Barra Lateral */
.sidebar {
    background-color: #20232d;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 70px;
    color: #b0b3bb;
}

.sidebar .nav-link {
    color: #b0b3bb;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
}

.sidebar .nav-link i {
    margin-right: 10px;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background-color: #383b47;
    color: #ffffff;
    border-radius: 5px;
}

/* Conteúdo Principal */
.main-content {
    background-color: #1f212b;
    padding: 20px;
    border-radius: 8px;
    min-height: 100vh;
}

.main-content header h1 {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.main-content header p {
    color: #b0b3bb;
    font-size: 1.2em;
}

/* Status do Robô */
.robot-status h2 {
    color: #ffffff;
    font-size: 1.5em;
    border-bottom: 2px solid #3e4451;
    padding-bottom: 10px;
    margin-top: 20px;
}

.robot-status p {
    color: #b0b3bb;
    font-size: 1em;
}

/* Estilização do Painel do Gráfico */
.chart-container {
    background-color: #1c44bd;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

/* Estilos adicionais para o Gráfico */
.chart-line {
    stroke: #4CAF50; /* Cor da linha do gráfico */
    fill: none;
    stroke-width: 2;
    color: #ffffff;
}
